@(collegeForm: Form[College])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main(""){

<!DOCTYPE html>

<html>
<head>
<title> Creating a College</title>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/forms.css")">
<link rel="shortcut icon" type="image/jpg" href="@routes.Assets.at("images/logo.jpg")">
</head>
    
    <h1>Add a college</h1>
    
    @form(routes.Application.saveCollege()) {
        
        <fieldset>
        
            @inputText(collegeForm("id"), '_label -> "College CEEB Code")
			<a href="http://www.suny.edu/student/search_colleges/college_search.cfm" target="_blank">Don't know your CEEB code? Find it here</a>
			@inputText(collegeForm("name"), '_label -> "College name")
			@inputText(collegeForm("st"), '_label -> "College state (entire name)") 
			@inputText(collegeForm("webAddress"), '_label -> "College web address")
        

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this college" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
	</html>
}