@(sportForm: Form[Sport])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main(""){

<!DOCTYPE html>

<html>
<head>
<title> Creating Sport</title>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/forms.css")">
<link rel="shortcut icon" type="image/jpg" href="@routes.Assets.at("images/logo.jpg")">
</head>
    
    <h1>Add a sport</h1>
    
    @form(routes.Application.save()) {
        
        <fieldset>
        
            @inputText(sportForm("sportname"), '_label -> "Sport name")
			
			@inputText(sportForm("division"), '_label -> "Division")
			@select(
                sportForm("college.id"), 
                options(College.options), 
                '_label -> "College", '_default -> "-- Choose a college --",
                '_showConstraints -> false
            )
        

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this sport" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
	</html>
}