@(id: Long, sportForm: Form[Sport])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main(""){

<!DOCTYPE html>

<html>

<head>
<title> Editing Sport</title>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/forms.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/logo.png")">
</head>
    
    <h1>Edit sport</h1>
    
    @form(routes.Application.update(id)) {
        
        <fieldset>
        
			 @inputText(sportForm("sportname"), '_label -> "Sport Name") 
			
		<!--	<label> Sport Name </label> 
			<br>
			<input type="text" name="sportname"  required>
			<br>
			-->
			@select(
                sportForm("division"), 
                options(Sport.options), 
                '_label -> "Division", 
                '_showConstraints -> false
            )
			
            
            @select(
                sportForm("college.id"), 
                options(College.options), 
                '_label -> "College",
                '_showConstraints -> false
            )
			
			
        
        </fieldset>
		
		@if(!Sport.find.ref(id).prospectform.equals("null")) {
			<br>
				<div class="Recruit">
					<a href="@Sport.find.ref(id).prospectform" target="_blank" class="btn">Recruit Me!</a> 
				</div>
			<br>
		} else{
			<br>
			<p> No recruit form available </p>
			<br>
		}

        
        <div class="actions">
            <input type="submit" value="Save this sport" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
			
			
        </div>
        
    }
	<br>
    @form(routes.Application.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this sport" class="btn danger">
    }
    <br>
    
	</html>
}
